<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new sub</title>
    <!-- Using compiled Tailwind CSS -->
</head>
<body>
    <a class="close" href="{{url_for('home')}}">
        <button class="close-icon" aria-hidden='true'>&times;</button>
    </a>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <center class="topic-header" style="font-size: 1.2em;" >{{message}}</center>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <center class="form-header">
        <h3>NEW SUBSCRIPTION</h3>
    </center>
    <div class="form-container">
        <div class="logo" style="width: 100%;display: flex; justify-content: center;">
            <img src="/static/edgex.png" alt="edgex" height="100px" width="150px">
        </div>
        <form action="{{url_for('add_subscription')}}" method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <div class="input-group">
            <label for="user_id">user Id</label>
            {{ form.user_id(class_='user-id',autofocus=true) }}
        </div>
        <div class="input-group">
            <label for="course_id">course Id</label>
            {{ form.course_id(class_='course-id',autofocus=true) }}
        </div>
        <div class="input-group">
            <label for="duration">duration(days)</label>
            {{ form.duration(class_='duration',autofocus=true) }}
        </div>
        
        <button type="submit">Save</button>
        
    </form>
    </div>
</body>
</html>
