<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Using compiled Tailwind CSS -->
</head>

<body>
    <a class="close" href="{{url_for('home')}}">
        <button class="close-icon" aria-hidden='true'>&times;</button>
    </a>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <center class="topic-header alert-message">{{message}}</center>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <center class="form-header">
        <h3>LOGIN</h3>
    </center>
    <div class="form-container">
        <div class="logo auth-logo">
            <img src="/static/edgex.png" alt="edgex" height="100px" width="150px">
        </div>
        <form action="{{ url_for('login') }}" method="POST">
            <input type="hidden" name="next_page" value="{{request.args.get('next')}}">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <div class="input-group">
                {% if form.email.errors %}
                <div class="error">
                    {% for error in form.email.errors %}
                    <p>{{error}}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <label for="email">Email</label>
                {{ form.email(class_='email',placeholder='Enter Email...',autofocus=true) }}
            </div>
            <div class="input-group">
                {% if form.password.errors %}
                <div class="error">
                    {% for error in form.password.errors %}
                    <p>error</p>
                    {% endfor %}
                </div>
                {% endif %}
                <label for="password">Password</label>
                {{ form.password(class_='password',placeholder='Enter Password...',autofocus=true) }}
            </div>
            <div class="check-box">
                <label for="remember">Remember me?</label>
                {{ form.remember(class_='remember') }}
            </div>
            <a href="{{url_for('signup')}}" class="auth-link">Don't yet have an account? Signup!</a>
            <button type="submit">LOGIN</button>
        </form>

    </div>

</body>

</html>